:root
{
    --headerFooterColour: rgb(15, 59, 74);
    --separatorColour: rgb(26, 97, 121);
    --bodyColour: rgb(32, 32, 35);

    --headerTextColour: #dddddd;
    --bodyTextColour: #dddddd;

    --bodyLinkTextHightlightColour: #ffffff;
    --headerLinkTextHightlightColour: #ffffff;

    --fontSizeTitle: 200%;
    --fontSizeLarge: 150%;
    --fontSizeMedium: 125%;
    --fontSizeStandard: 100%;
}

body
{
    color: var(--bodyTextColour);
    background-color: var(--headerFooterColour);
    line-height: 1.2;
    font-size: var(--fontSizeStandard);

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header
{
    color: var(--headerTextColour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

h1
{
    font-size: var(--fontSizeTitle);
    padding-left: 2%;
}

.separator
{
    background-color: var(--separatorColour);
    padding: 0.5% 0% 0.5% 0%;
}

nav
{
    width: 50%;
}

nav ul
{
    display: flex;
    font-size: var(--fontSizeLarge);
    font-weight: bold;
    justify-content: space-evenly;
    align-self: center;
}

nav li
{
    padding: 0% 15px 0% 15px;
}

nav a
{
    color: var(--headerTextColour);
}

nav a:hover
{
    color: var(--headerLinkTextHightlightColour);
}

main
{
    background-color: var(--bodyColour);
    color: var(--textBodyColour);
}

.information
{
    padding: 2%;
}

.information section
{
    padding: 2% 20% 2% 20%;
    display: grid;
    grid-template-columns: 5fr .1fr 20fr;
    grid-template-rows: 1fr;
    grid-gap: 1%;
}

.sectionHeader
{
    font-size: var(--fontSizeTitle);
    justify-self: right;
    padding-right: 5%;
}

.sectionSeparator
{
    background-color: var(--separatorColour);
}

.workDisclaimer
{
    padding-bottom: 10px;
}

.workInformation
{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, 20%);
    grid-gap: 0.5%;
    
    grid-template-areas: 
        "mainExample mainExample"
        "mainExample mainExample";
}

.workExampleLabel
{
    position: relative;
    bottom: 75px;
}

.workExampleImage
{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: fill;

    border-width: 5px;
    border-style: solid;
    border-color: var(--separatorColour);
}

.workExampleLabelTitle, .workExampleDescription
{
    background-color: var(--separatorColour);
    color: var(--bodyTextColour);
    max-width: 75%;
    order: 2;
}

.workExampleLabelTitle
{
    font-size: var(--fontSizeMedium);
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

.workExampleDescription
{
    padding: 0px 10px 5px 10px;
}

#mainWorkExample .workExampleLabelTitle, #mainWorkExample .workExampleDescription
{
    grid-area: mainExample;
    max-width: 40%;
}

#mainWorkExample
{
    grid-area: mainExample;
}

.information ul
{
    display: flex;
    font-size: var(--fontSizeLarge);
    font-weight: bold;
}

.information li
{
    padding: 0% 2% 0% 2%;
}

.information a
{
    color: var(--bodyTextColour);
}

.information a:hover
{
    color: var(--bodyLinkTextHightlightColour);
}

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
}

footer p
{
    font-size: var(--fontSizeMedium);
    padding-left: 2%;
}

@media screen and (max-width: 768px) 
{
    :root
    {
        --fontSizeTitle: 175%;
        --fontSizeLarge: 125%;
        --fontSizeMedium: 100%;
        --fontSizeStandard: 90%;
    }

    header
    {
        flex-direction: column;
    }

    .information section
    {
        padding: 2% 5% 2% 5%;
    }

    .workInformation
    {   
        display: flex;
        flex-direction: column;
    }

    .workExampleLabelTitle, 
    .workExampleDescription, 
    #mainWorkExample .workExampleLabelTitle, 
    #mainWorkExample .workExampleDescription
    {
        max-width: 50%;
    }
}